<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Telerik UI for ASP.NET</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/simple.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
        <link rel="stylesheet" href=" css/style.css">

		<!-- Printing and PDF exports -->
		<script>
		 var link = document.createElement( 'link' );
		 link.rel = 'stylesheet';
		 link.type = 'text/css';
		 link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
		 document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section id="main">
                    <h2 class="title">Telerik UI for ASP.NET</h2>
                    <div>
                        <img alt="" src="./img/kendoka-09-350.png" class="no-border" width="200" />
                        <img alt="" src="./img/asp.net-border.png" class="no-border" width="300" />
                    </div>
                    <p><em>MVC & Core</em></p>
                </section>
                <section id="speaker-and-company-info">
                    <section data-background="./img/telerik-bg.jpg">
                        <h3>Welcome</h3>
                        <h4>Progress Virtual Classroom</h4>
                        <img width="700" src="./img/virtual-academy.jpg" class="no-border" />
                    </section>
                    <section id="training-schedule">
                        <table>
                            <tbody>
                                <tr>
                                    <td><strong>Date</strong></td>
                                    <td><strong>Time</strong></td>
                                    <td><strong>Course</strong></td>
                                </tr>
                                <tr style="color: lightgray">
                                    <td>February 28, 2018</td>
                                    <td>9am - 1pm EST<strong></strong></td>
                                    <td><strong>Kendo UI &amp; Angular</strong></td>
                                </tr>
                                <tr style="color: #60BEA0; font-weight: bold">
                                    <td>March 7, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik UI for ASP.NET MVC and ASP.NET Core</strong></td>
                                </tr>
                                <tr>
                                    <td>March 8, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Kendo UI &amp; React</strong></td>
                                </tr>
                                <tr>
                                    <td>March 14, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Kendo UI &amp; jQuery</strong></td>
                                </tr>
                                <tr>
                                    <td>March 22, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Kendo UI &amp; Vue</strong></td>
                                </tr>
                                <tr>
                                    <td>March 27, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik UI for Xamarin</strong></td>
                                </tr>
                                <tr>
                                    <td>March 30, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik UI for WPF</strong></td>
                                </tr>
                                <tr>
                                    <td>April 5, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik Reporting &amp; Telerik Report Server</strong></td>
                                </tr>
                                <tr>
                                    <td>April 10, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik UI for WinForms</strong><strong></strong></td>
                                </tr>
                                <tr>
                                    <td>April 12, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik UI for ASP.NET AJAX</strong><strong></strong></td>
                                </tr>
                                <tr>
                                    <td>April 13, 2018</td>
                                    <td>9am - 1pm EST</td>
                                    <td><strong>Telerik UI for UWP</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section id="speaker-info" data-background="./img/telerik-bg.jpg">
                        <div class="speaker-img-container">
                            <img src="./img/speaker.jpg" width="200" />
                            <h4>Denis Kyashif</h4>
                        </div>
		                <table class="speaker-contact-info">
			                <tbody>
			                    <tr>
				                    <td><img class="no-border" src="./img/email.png" width="50"></td>
				                    <td style="vertical-align:middle"> <a href="mailto:denis@newventuresoftware.com?Subject=Hello" target="_blank">denis@newventuresoftware.com</a></td>
			                    </tr>
			                    <tr>
				                    <td><img class="no-border" src="./img/github.png" width="50"></td>
				                    <td style="vertical-align:middle"> <a href="https://github.com/deniskyashif" target="_blank">github.com/deniskyashif</a></td>
			                    </tr>
                                <tr>
				                    <td><img class="no-border" src="./img/twitter.png" width="50"></td>
				                    <td style="vertical-align:middle"><a href="https://twitter.com/deniskyashif" target="_blank">@deniskyashif</a></td>
			                    </tr>
			                </tbody>
		                </table>
		            </section>
                    <section id="certifications">
		                        <div>
			                        <img width="300" class="no-border" src="./img/medallion_sitefitiny-certified---300-dpi.png" />
			                        <img width="350" class="no-border" src="./img/KendoUI_Badge_Square_Certified_Big.png" />
		                </div>
		                    </section>
                    <!-- New Venture Software
                         Your premier consulting and professional services partner for Progress Telerik products and technologies. Trust a reliable partner who’s been instrumental in building the award-winning DevCraft suite.

                         Message pillars:

                         1.	The exceptional quality of our consulting and professional services stems from a solid background and expertise in Telerik DevCraft:
                         a.	Benefit from being consulted by ex-Progress Telerik software architects who have led a number of teams building the Telerik DevCraft suite.
                         2.	Portfolio breadth: we support all progress Telerik products and technologies:
                         a.	The New Venture Software team possesses rock-solid understanding, experience and expertise in all Progress Telerik products, be it for the web, desktop or mobile.
                         3.	Successful track record of delivering future-proof software consulting and development solutions.
                         a.	New Venture Software has a proven record of success delivering software solutions that can transform businesses. -->
                    <section data-background="./img/Training-intro-slide.jpg"></section>
                    <section id="nvs-partners" data-background="./img/Training-intro-slide+bullets.jpg"></section>
                </section>
                <section id="agenda" class="color-white" data-background-image="./img/school-board.jpg">
                    <h3>Agenda</h3>
                    <ul>
                        <li class="fragment">UI for ASP.NET MVC</li>
                        <li class="fragment">UI for ASP.NET Core</li>
                        <li class="fragment">Common Features</li>
                        <li class="fragment">Community and Support</li>
                    </ul>
                </section>
                <section id="prerequisites">
                    <h4 class="text-right">Prerequisites</h4>
                    <ul style="font-size: 32px">
                        <li><strong>VS 2017</strong>
                            <a href="https://www.visualstudio.com/vs/">https://www.visualstudio.com/vs/</a>
                            <ul>
                                <li>ASP.NET and web development</li>
                                <li>.NET Core cross-platform development</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Progress Control Panel</strong>
                            <a href="https://www.telerik.com/download-trial-file/v2/control-panel" target="_blank">
                                https://www.telerik.com/download-trial-file/v2/control-panel
                            </a>
                        </li>
                        <li>
                            <strong>Training Materials:</strong> <a href="https://github.com/newventuresoftware/kendoui-for-aspnet/archive/master.zip">https://github.com/newventuresoftware/kendoui-for-aspnet/archive/master.zip</a>
                        </li>
                    </ul>
                </section>
                <!--ASP.NET MVC -->
                <section>
                    <section>
                    <h3>The MVC Pattern</h3>
                    <img alt="" src="./img/mvc.png" width="600" class="no-border" />
                    </section>
                    <section>
                    <h3>Models</h3>
                    <p>
                    Contain or represent the data that users work with.
                        </p>
                    </section>
                    <section>
                    <h3>View Models</h3>
                    <p>Represent data being transferred between views and controllers.</p>
                    </section>
                    <section>
                    <h3>Domain Models</h3>
                    <p>
                    Contain the data in a business domain as well as the operations, transformations, and rules for manipulating that data.
                        </p>
                    </section>
                    <section>
                    <h3>Views</h3>
                    <p>Used to render some part of the model as a user interface.</p>
                    </section>
                    <section>
                    <h3>Controllers</h3>
                    <p>Process incoming requests, perform operations on the model, and select views to render to the user.</p>
                    </section>
                    <section>
                    <p><em>Loosely cooupled components</em></p>
                    <img alt="MVC" src="./img/mvc-annotated.png" class="no-border" width="750" />
                    </section>
                    <section data-background="#333333">
                    <img alt="" src="./img/logo-aspnetmvc.png" class="no-border" />
                    </section>
                    <section>
                    <h4 class="text-right">ASP.NET MVC 5</h4>
                    <ul>
                    <li class="fragment">Web Application Framework</li>
                    <li class="fragment">Implements the MVC pattern</li>
                    <li class="fragment">Developed by Microsoft</li>
                    <li class="fragment">First Release in 2007</li>
                    <li class="fragment">Open Source</li>
                        </ul>
                    </section>
                    <section>
                    <img alt="" src="./img/new-features-of-aspnet-40-29-728.jpg" class="no-border" />
                    </section>
                    <section data-background="#fff">
                    <a href="https://www.slideshare.net/llysik/aspnet-mvc-4-request-pipeline-internals" target="_blank">
                    <img alt="" src="./img/ASP.NETMVC5Pipeline.png" class="no-border" width="550" />
                        </a>
                    </section>
                    <section>
                    <h3>The Razor View Engine</h3>
                    <p>
                    <em>Simple-syntax <strong>view engine</strong> and was released as part of MVC 3</em>
                        </p>
                    <img alt="" src="./img/template-diagram.jpg" class="no-border" />
                    </section>
                    <section>
                    <p><strong>Razor</strong> supports C# and uses the <strong>@</strong> symbol to transition from HTML to C#</p>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Implicitit Expressions</h4>
                    <pre>CSHTML<code class="html">
                    <p>@DateTime.Now</p>
                    <p>@DateTime.IsLeapYear(2016)</p>
                        </code></pre>
                    <pre>HTML<code class="html">
                    <p>9.2.2018 г. 10:49:34</p>
                    <p>True</p>
                        </code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Explicit Expressions</h4>
                    <pre>CSHTML<code class="html">
                    <p>Last week this time: @(DateTime.Now - TimeSpan.FromDays(7))</p>
                        </code></pre>
                    <pre>HTML<code class="html">
                    <p>Last week this time: 2.2.2018 г. 10:55:00</p>
                        </code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Code Blocks</h4>
                    <pre>CSHTML<code class="html">@{
    var message = "You are the Semicolon to my Statements.";
}
                    <p>@message</p>

@{
    message = "Deleted code is debugged code.";
}
                    <p>@message</p></code></pre>
                    <pre>HTML <code class="html"><p>You are the Semicolon to my Statements.</p>
                    <p>Deleted code is debugged code.</p></code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Control Structures</h4>
                    <p>Conditionals <strong>@if</strong>, <strong>else if</strong>, <strong>else</strong>, and <strong>@switch</strong></p>
                    <pre>CSHTML<code class="html">@if (value % 2 == 0)
{
                    <p>The value was even.</p>
}
else
{
                    <p>The value was odd.</p>
}</code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Control Structures</h4>
                    <pre>CSHTML <code class="html">@switch (value)
{
    case 1:
                    <p>The value is 1!</p>
        break;
    case 1337:
                    <p>Your number is 1337!</p>
        break;
    default:
                    <p>Your number wasn't 1 or 1337.</p>
        break;
}</code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Control Structures</h4>
                    <p>Looping <strong>@for</strong>, <strong>@foreach</strong>, <strong>@while</strong>, and <strong>@do while</strong></p>
                    <pre>CSHTML <code class="html">@foreach (var person in people)
{
                    <p>Name: @person.Name</p>
                    <p>Age: @person.Age</p>
}</code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Control Structures</h4>
                    <pre>CSHTML <code class="html">@for (var i = 0; i < people.Length; i++)
{
    var person = people[i];
                    <p>Name: @person.Name</p>
                    <p>Age: @person.Age</p>
}</code></pre>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Control Structures</h4>
                    <p><strong>@try, catch, finally</strong></p>
                    <pre>CSHTML <code class="html">@try
{
    throw new InvalidOperationException("You did something invalid.");
}
catch (Exception ex)
{
                    <p>The exception message: @ex.Message</p>
}
finally
{
                    <p>The finally statement.</p>
}</code></pre>
                    </section>
                    <section>
                    <h3>Razor Directives</h3>
                    <p>Implicit expressions with reserved keywords following the <strong>@</strong> symbol.</p>
                    </section>
                    <section>
                    <h4 class="text-right">Razor - Directives</h4>
                    <p><strong>@using</strong></p>
                    <pre>CSHTML<code class="html">@using System.IO
@{
    var dir = Directory.GetCurrentDirectory();
}

                    <p>@dir</p></code></pre>
                    <pre>HTML<code class="html"><p>C:\Program Files (x86)\IIS Express</p></code></pre>
                    </section>
                    <section>
                        <h4 class="text-right">Razor - Directives</h4>
                        <p><strong>@model</strong><br/><em>specifies the type of the model passed to a view</em></p>
                        <pre>CSHTML<code class="html">@model LoginViewModel

                            <div>The Login Email: @Model.Email</div></code></pre>
                    </section>
                    <section>
                        <h4 class="text-right">Razor - Directives</h4>
                        <p><strong>@inherits</strong>, <strong>@inject</strong>, <strong>@functions</strong>, <strong>@section</strong></p>
                    </section>
                    <section>
                        <h3>Html Helpers</h3>
                        <img alt="" src="./img/Santa's_Little_Helper.png" class="no-border" width="350" />
                    </section>
                    <section>
                        <p><em>An <strong>HTML Helper</strong> is just a method that returns a string.</em></p>
                        <img class="fragment no-border" src="./img/say-what.PNG" width="500" />
                    </section>
                    <section>
                        <p><strong>HTML Helpers</strong> can be used to render standard HTML tags. They also can be used to render complex content.</p>
                    </section>
                    <section>
                        <h4 class="text-right">Built-in Helpers</h4>
                        <ul>
                            <li>Html.ActionLink()</li>
                            <li>Html.BeginForm()</li>
                            <li>Html.DropDownLost()</li>
                            <li>Html.TextArea()</li>
                            <li>Html.Partial()</li>
                            <li>Html.Password()</li>
                            <li>...</li>
                        </ul>
                    </section>
                    <section>
                    <pre>CSHTML <code class="html">@{
var items = new [] {
        new SelectListItem() { Text = "One", Value = "1" },
        new SelectListItem() { Text = "Five", Value = "5" },
        new SelectListItem() { Text = "Ten", Value = "10" }
    };
}

@Html.DropDownList("Quantity", items)</code></pre>
                    <pre>HTML <code class="html"><select id="Quantity" name="Quantity">
                    <option value="1">One</option>
                    <option value="5">Five</option>
                    <option value="10">Ten</option>
</select></code></pre>
                    </section>
                    <section>
                        <h3>Live Demo</h3>
                        <p>Using Html Helpers</p>
                    </section>
                    <section>
                        <h3>Creating Custom Html Helpers</h3>
                        <ul>
                            <li>Creating a static method</li>
                            <li>Writing an extension method</li>
                            <li>@helper</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Live Demo</h3>
                        <p>Creating Custom Html Helpers</p>
                        <!-- TODO: Include Fluent Syntax in the Demo -->
                    </section>
                </section>
                <!-- KENDO UI -->
                <section>
                    <section data-background="./img/umbrella-bg.jpg">
                        <h3 class="color-white"><span>Kendo UI</span></h3>
                        <img alt="" src="./img/kendoka-states1.png" class="no-border bg-transparent" width="200" style="margin: 0" />
                        <p class="color-white" style="font-size: 0.8em"><span>A complete JavaScript UI component library, built on top of jQuery, that allows you to quickly build web apps using your framework of choice.</span></p>
                    </section>
                    <section data-background="./img/umbrella-bg.jpg" class="color-white">
                        <div class="circle-wrapper">
                            <div class="circle center"><strong class="brackets">Kendo UI</strong></div>
                            <div class="circle top fragment">Components</div>
                            <div class="circle top-right fragment">Data Source</div>
                            <div class="circle right fragment">Validation</div>
                            <div class="circle bottom-right fragment">Globalization</div>
                            <div class="circle bottom fragment">Templates</div>
                            <div class="circle bottom-left fragment">Drag & Drop</div>
                            <div class="circle left fragment">MVVM</div>
                            <div class="circle top-left fragment">Export</div>
                        </div>
                    </section>
                    <section data-background="#3EA8DF" class="color-white" id="using-kendo-with-other-frameworks">
                        <h3>KendoUI Supports</h3>
                        <div style="height: 50px"></div>
                        <ul>
                            <li><a href="https://www.telerik.com/kendo-ui#Features" target="_blank">jQuery</a></li>
                            <li><a href="https://www.telerik.com/kendo-angular-ui/" target="_blank">Angular</a></li>
                            <li><a href="https://www.telerik.com/kendo-react-ui" target="_blank">React</a></li>
                            <li><a href="https://www.telerik.com/kendo-vue-ui" target="_blank">Vue</a></li>
                        </ul>
                        <ul style="font-size: 0.8em; margin-top: 15px;">
                            <li><a href="#" target="_blank">JSP</a></li>
                            <li><a href="#" target="_blank"><strong>ASP.NET MVC</strong></a></li>
                            <li><a href="#" target="_blank"><strong>ASP.NET Core</strong></a></li>
                            <li><a href="#" target="_blank">PHP</a></li>
                        </ul>
                    </section>
                    <section data-background="#F3F5F7">
                        <a href="https://www.telerik.com/kendo-ui" target="_blank">
                            <img class="no-border" alt="" src="./img/kendo-components.PNG" />
                        </a>
                    </section>
                </section>
                <!-- Telerik UI for MVC 5 -->
                <section>
                    <section>
                        <h3>Telerik UI for ASP.NET MVC</h3>
                        <p>Set of server-side wrappers that allows using the Kendo UI widgets from C# or VB.NET code.</p>
                    </section>
                    <section data-background="./img/Getting+Started.png">
                        <h2>Getting Started<br/>UI for MVC</h2>
                        <a href="https://www.telerik.com/aspnet-mvc" target="_blank">Home</a>, <a href="https://docs.telerik.com/aspnet-mvc/introduction" target="_blank">Docs</a>
                    </section>
                    <section>
                        <h3>Project Setup</h3>
                        <a href="https://docs.telerik.com/aspnet-mvc/introduction" target="_blank">
                            Manual
                        </a>
                    </section>
                    <section data-background="#430368">
                        <h3>Project Setup</h3>
                        <p>Using the <strong>Visual Studio</strong> Project Wizard</p>
                        <a href="https://docs.telerik.com/aspnet-mvc/vs-integration/new-project-wizard" target="_blank">
                            <img alt="" src="./img/Cartman.png" class="no-border bg-transparent" width="250" />
                        </a>
                    </section>
                    <section>
                        <h3>
                            UI Widgets
                        </h3>
                        <a href="https://docs.telerik.com/aspnet-mvc/getting-started/fundamentals" target="_blank">
                            Fundamentals
                        </a>
                    </section>
                    <section>
                        <h3>Configuration</h3>
                        <ul>
                            <li class="fragment grow">HtmlHelper Extension Method</li>
                            <li class="fragment grow">Widget Options</li>
                            <li class="fragment grow">Setting the Name</li>
                            <li class="fragment grow">Deferring Initialization</li>
                            <li class="fragment grow">Event Handling</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Customization</h3>
                        <ul>
                            <li class="fragment grow">Client-Side Objects</li>
                            <li class="fragment grow">Client Templates</li>
                            <li class="fragment grow">Form Rendering</li>
                        </ul>
                    </section>
                    <section>
                        <h3>DataSource</h3>
                        <ul>
                            <li class="fragment grow">Custom DataSource</li>
                            <li class="fragment grow">DataSourceRequest</li>
                            <li class="fragment grow">DataSourceResult</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Validation</h3>
                        <p>
                            <a href="https://docs.telerik.com/aspnet-mvc/getting-started/validation" target="_blank">Using the Data-Annotation Attributes</a>
                        </p>
                    </section>
                    <section data-background="./img/bg-pattern.png" class="color-white" id="theme-builder">
                        <a href="http://themebuilder.telerik.com/aspnet-mvc" target="_blank">
                            <img alt="" src="./img/progress_mainLogo.png" class="no-border bg-transparent" width="700" />
                        </a>
                        <p>For ASP.NET MVC</p>
                    </section>
                </section>
                <!-- UI for ASP.NET Core -->
                <section>
                    <section data-background="#000">
                        <img alt="" src="./img/netcore.svg" class="no-border bg-transparent" width="400" />
                    </section>
                    <section>
                        <p>Core</p>
                    </section>
                    <section>
                        <p>Core vs MVC</p>
                    </section>
                    <section>
                        <h3>Versioning</h3>
                    </section>
                    <section>
                        <p>ASP.NET Core TagHelpers</p>
                    </section>
                    <section>
                        <h4 class="text-right">What are Tag Helpers?</h4>
                        <ul style="font-size: 0.7em">
                            <li class="fragment">Allow server-side code to participate in rendering of HTML elements in Razor files</li>
                            <li class="fragment">Target HTML elements based on element and attribute names</li>
                            <li class="fragment">Reduce explicit transitions between HTML and C# in Razor files</li>
                            <li class="fragment">Take advantage of the composition and tooling benefits of HTML in Visual Studio</li>
                        </ul>
                    </section>
                    <section>
                        <h4 class="text-right">Using Tag Helpers?</h4>
                        <ul style="font-size: 0.7em">
                            <li>ASP.NET MVC 6 includes Tag Helpers for common tasks e.g. creating forms, links etc.</li>
                            <li class="fragment">
                                Import desired Tag Helpers into the Razor page:
                                <pre><code>@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"</code></pre>
                            </li>
                            <li class="fragment">
                                Optionally specify a prefix to enable an element for Tag Helper processing:
                                <pre><code>@tagHelperPrefix "+"</code></pre>
                            </li>
                            <li class="fragment">
                                Use like HTML:
                                <pre><code><a asp-controller="Home" asp-action="Index">Home</a></code></pre>
                            </li>
                        </ul>
                    </section>
                    <section data-background="#000">
                        <h3>Live Demo</h3>
                        <p>Using Tag Helpers</p>
                        <img alt="" src="./img/cat-kitty-computer-screen-animal-1920x1080 (1).jpg" width="550" />
                    </section>
                    <section>
                        <h4 class="text-right">Creating Tag Helpers</h4>
                        <ul style="font-size: 0.7em">
                            <li>
                                Three logical types of Tag Helpers:
                                <ul>
                                    <li>Target existing HTML elements & modify output, e.g. <strong>&lt;input /&gt;</strong></li>
                                    <li>Define new elements & produce custom output, e.g. <strong>&lt;carousel&gt;</strong></li>
                                    <li>Define new elements wiht no output, e.g. &lt;environment /&gt;</li>
                                </ul>
                            </li>
                            <li>Tag Helpers are classes that implement <code>ITagHelper</code></li>
                            <li>
                                No complicated lifecycle, just a single <code>Process</code> method
                                <pre><code class="csharp">public void Process(TagHelperContext context, TagHelperOutput output)</code></pre>
                            </li>
                        </ul>
                    </section>
                    <section data-background="#000">
                        <h3>Live Demo</h3>
                        <p>Creating Custom Tag Helpers</p>
                        <img alt="" src="./img/cat-kitty-computer-screen-animal-1920x1080 (1).jpg" width="550" />
                    </section>
                    <section>
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="docs.asp.net" target="_blank">docs.asp.net</a></li>
                            <li><a href="github.com/aspnet/razor" target="_blank">github.com/aspnet/razor</a></li>
                            <li><a href="github.com/aspnet/mvc" target="_blank">github.com/aspnet/mvc</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Telerik UI for ASP.NET Core</h3>
                        <p>Telerik UI for ASP.NET Core is a set of server-side wrappers that allows using the Kendo UI widgets in .NET Core.</p>
                    </section>
                    <section data-background="./img/Getting+Started.png">
                        <h3>Getting Started <br/> UI for ASP.NET Core</h3>
                        <a href="https://www.telerik.com/aspnet-core-ui" target="_blank">Home</a>,
                        <a href="https://docs.telerik.com/aspnet-core/introduction" target="_blank">Docs</a>
                    </section>
                    <section  data-background="#430368">
                        <h3>Project Setup</h3>
                        <p>Using the <strong>Visual Studio</strong> Project Wizard</p>
                        <a href="https://docs.telerik.com/aspnet-core/getting-started/getting-started" target="_blank">
                            <img alt="" src="./img/Cartman.png" class="no-border bg-transparent" width="250" />
                        </a>
                    </section>
                    <section>
                        <h3>Using Widgets</h3>
                        <a href="https://docs.telerik.com/aspnet-core/helpers/tag-helpers/tag-helpers" target="_blank">Docs</a>
                    </section>
                </section>
                <!-- Common Features -->
                <section>
                    <section>
                        <p>Responsive Design</p>
                    </section>
                </section>
                <!-- Support and Community -->
                <section>
                    <section>
                        <p>Submitting Support Tickets</p>
                    </section>
                    <section>
                        <p>Community: GitHub, Roadmap, Forums</p>
                    </section>
                </section>
                <section id="questions">
                    <h3>Questions?</h3>
                    <img class="" src="./img/cats-staring.jpg" width="500" />
                </section>
                <section id="end">
		            <h2>Thank You!</h2>
		            <table>
			            <tbody>
                            <tr>
				                <td><img class="no-border" src="./img/email.png" style="width:70px"></td>
				                <td style="vertical-align:middle"> <a href="mailto:denis@newventuresoftware.com?Subject=Hello" target="_blank">denis@newventuresoftware.com</a></td>
			                </tr>
			                <tr>
				                <td><img class="no-border" src="./img/github.png" width="70"></td>
				                <td style="vertical-align:middle"> <a href="https://github.com/deniskyashif" target="_blank">github.com/deniskyashif</a></td>
			                </tr>
                            <tr>
				                <td><img class="no-border" src="./img/twitter.png" width="70"></td>
				                <td style="vertical-align:middle"><a href="https://twitter.com/deniskyashif" target="_blank">@deniskyashif</a></td>
			                </tr>
			            </tbody>
		            </table>
		        </section>
			</div>
            <section class="reveal-shared">
		        <div class="nvs-logo-container">
		            <a href="http://www.newventuresoftware.com/" target="_blank">
			            <img class="no-border" src="./img/nvs-logo.svg" width="150"/>
                    </a>
		        </div>
                <div class="progress-logo-container">
                    <img alt="" src="./img/progress-watermarks/Progress_Logos_Telerik-KendoUI_vertical.png" class="no-border" width="250" />
                </div>
                <div class="nvs-website-bar">
                    <span class="nvs-website-text brackets">www.newventuresoftware.com</span>
                    <small style="float: right; margin-right: 20px;">
                        &copy; 2018 Progress Software Corporation and/or its subsidiaries or affiliates. All rights reserved.
                    </small>
                </div>
	        </section>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
		 // More info about config & dependencies:
		 // - https://github.com/hakimel/reveal.js#configuration
		 // - https://github.com/hakimel/reveal.js#dependencies
		 Reveal.initialize({
             history: true,
             progress: true,
             touch: true,
			 dependencies: [
				 { src: 'plugin/markdown/marked.js' },
				 { src: 'plugin/markdown/markdown.js' },
				 { src: 'plugin/notes/notes.js', async: true },
				 { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
			 ],
             slideNumber: 'c/t'
		 });
		</script>
	</body>
</html>
