@{
    ViewBag.Title = "Home Page";

    var topArtists = new string[]
    {
        "Eminem", "Metallica", "Rihanna", "Rolling Stones"
    };
}

<h1>Music Store</h1>
<div class="jumbotron">
    <h2>Top Artists</h2>
</div>