@helper List2(string[] items) {
    <ul>
        @foreach (var item in items)
        {
            <li>@item</li>
        }
    </ul>
}

@helper MyImage(string source, string alt, int width = 300) { 
    <img src="@source" alt="@alt" width="@width" />
}