@{
    var items = new string[] { "one", "two", "three" };
}

<div class="jumbotron">
    @Html.Button("Click Me", new { id = "btn", @class = "submit" })
    @Html.List(items, ordered: true)
</div>

@Helpers.Image("https://forums.asp.net/avatar/VirtualLife.jpg?forceid2enticon=False&dt=636557646600000000", "avatar")

<script>
    document.getElementById('btn').addEventListener('click', function (ev) {
        alert('Hi');
    });
</script>